n8n/backup/workflows/N8N Backup - Credentials and Workflows.json
{"createdAt":"2025-04-07T14:47:46.307Z","updatedAt":"2025-04-08T10:06:19.994Z","id":"XtLKIwsiyNo2OtKQ","name":"N8N Backup - Credentials and Workflows","active":false,"nodes":[{"parameters":{},"id":"e2135c50-9e02-4502-b974-e2118c6c04b3","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[1420,20]},{"parameters":{"rule":{"interval":[{"triggerAtHour":5}]}},"id":"9e704cfe-fc5c-4484-909a-8c6d73f29fe9","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[1420,180],"typeVersion":1.1},{"parameters":{"command":"=n8n export:credentials --backup --decrypted --output=/backup/credentials/temp/{{$now.format(\"LL-dd-yy\") }}/temporary/"},"id":"eb8fea6d-73ba-4b52-89fe-c24741afa15e","name":"Export Credentials","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[580,400]},{"parameters":{"fileSelector":"=//backup/credentials/temp/{{ $now.format(\"LL-dd-yy\") }}/temporary/*","options":{}},"id":"91a9fc06-bebb-48f7-bcca-20eaa877d14f","name":"Read Credentials","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[800,400]},{"parameters":{"command":"=rm -r /backup/credentials/temp/{{ $now.format(\"LL-dd-yy\") }}/temporary/\n\n\n"},"id":"5e344207-3438-4122-82db-aee290726e81","name":"Remove Temp dir","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1600,400],"onError":"continueRegularOutput"},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name }}"}},"id":"03c507a9-143e-479b-b866-4048d20939dd","name":"MAKE JSON FILES","type":"n8n-nodes-base.moveBinaryData","position":[1400,700],"notesInFlow":true,"typeVersion":1},{"parameters":{"operation":"write","fileName":"=//backup/credentials/temp/{{ $now.format(\"LL-dd-yy\") }}_{{ $('Turn individual files to single json  output to get filename').item.json.data.name }}.json","options":{"append":false}},"id":"85e125e8-4bc8-4987-9fef-c1d94da85b7f","name":"Write individual Files in understanable name","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1400,400]},{"parameters":{"filters":{},"requestOptions":{}},"id":"afb9c9d2-902e-4fc2-98a8-64496a5e5d3f","name":"GET WORKFLOWS","type":"n8n-nodes-base.n8n","position":[1200,700],"typeVersion":1,"credentials":{"n8nApi":{"id":"ZAJwRiBHBzNFfHq4","name":"ZK N8N Local "}}},{"parameters":{"operation":"write","fileName":"=//backup/workflows/temp/{{ $now.format(\"LL-dd-yy\") }}/{{ $node[\"GET WORKFLOWS\"].json[\"name\"] }}.json","options":{"append":false}},"id":"217c6241-33fb-48c1-b703-c14693c21552","name":"Write Workflows","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1600,700]},{"parameters":{"content":"1. Exports the Credentials into /credentials/temp directory as individual files\n2. Renames them to the Credential Name (as opposed to credential ID)\n3. Saves to /credentials, and \n4. Deletes /credentials/temp","height":231.3877551020408,"width":1733.7346938775481},"id":"b99fa392-d721-4d74-bf33-55789f56454a","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[20,340]},{"parameters":{"content":"Creates a directory structure under /backups - subdir todays date, then additional subdirs for credentials and workflows.\n\nNote the /backups needs to be a directory you've created within your n8hn environment, (or in case of Docker, made available to the n8n \n container by mapping the  directory read-write) - in my case this was //volume1/docker/n8n/backups)","height":287.6326530612244,"width":1734.8163265306116},"id":"eb5fea15-8d4c-41ff-ba63-11221813f698","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[20,20]},{"parameters":{"content":"5. retrieves the workflows from n8n, and\n6. saves them as the workflow name under /backups/{today's date}/workflows","height":231.3877551020408,"width":1722.9183673469383},"id":"02c413ee-d3af-4b23-bcf1-4d00aa548867","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[20,620]},{"parameters":{"command":"=mkdir -p \"/backup/credentials/temp/\"\nmkdir -p \"/backup/workflows/temp/{{$now.format(\"LL-dd-yy\") }}/\"\n"},"id":"53c414a7-7185-45dc-bb83-adcce0379983","name":"Create directory structures","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1620,120],"onError":"continueRegularOutput"},{"parameters":{"operation":"toJson","mode":"each","options":{"fileName":"={{ $json.data.name }}"}},"id":"f875ceb5-5802-48ac-a54b-ae799e6fadbb","name":"Convert back to json files","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1200,400]},{"parameters":{"operation":"fromJson","options":{}},"id":"7b5f9d4e-441f-499a-ae57-ca6ca7bd1c13","name":"Turn individual files to single json  output to get filename","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1000,400]},{"parameters":{"language":"python","pythonCode":"# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor item in _input.all():\n  item.json.myNewField = 1\nreturn _input.all()"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,0],"id":"7fdf8924-64db-4579-8954-389c6f197c90","name":"Code"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Create directory structures","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Create directory structures","type":"main","index":0}]]},"Export Credentials":{"main":[[{"node":"Read Credentials","type":"main","index":0}]]},"Read Credentials":{"main":[[{"node":"Turn individual files to single json  output to get filename","type":"main","index":0}]]},"Remove Temp dir":{"main":[[{"node":"GET WORKFLOWS","type":"main","index":0}]]},"MAKE JSON FILES":{"main":[[{"node":"Write Workflows","type":"main","index":0}]]},"Write individual Files in understanable name":{"main":[[{"node":"Remove Temp dir","type":"main","index":0}]]},"GET WORKFLOWS":{"main":[[{"node":"MAKE JSON FILES","type":"main","index":0}]]},"Create directory structures":{"main":[[{"node":"Export Credentials","type":"main","index":0}]]},"Convert back to json files":{"main":[[{"node":"Write individual Files in understanable name","type":"main","index":0}]]},"Turn individual files to single json  output to get filename":{"main":[[{"node":"Convert back to json files","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"cb54a531-bcf5-45d4-b0ef-805ec3ac91e5","triggerCount":0,"tags":[{"createdAt":"2025-04-07T14:19:02.360Z","updatedAt":"2025-04-07T14:19:02.360Z","id":"8HZEYnEG2QihxkzV","name":"core"}]}